<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 footerleft ">
        <div class="logofooter"> HORIZONS</div>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
        <p><i class="fa fa-map-pin"></i> 221,349 HanPlus Tower 150, Dogan Arasli Bolv, Esenyurt - Istanbul</p>
        <p><i class="fa fa-phone"></i> Phone (Turkey) : +90 212 620 7000</p>
        <p><i class="fa fa-envelope"></i> E-mail : info@horizons-edu.com</p>
      </div>
      <div class="col-md-2 col-sm-6 paddingtop-bottom">
        <h6 class="heading7">General Links</h6>
        <ul class="footer-ul">
          <li><a href="#"> Career</a></li>
          <li><a href="#"> Privacy Policy</a></li>
          <li><a href="#"> Terms & Conditions</a></li>
          <li><a href="#"> Client Gateway</a></li>
          <li><a href="#"> Ranking</a></li>
          <li><a href="#"> Case Studies</a></li>
          <li><a href="#"> Frequently Ask Questions</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6 paddingtop-bottom">
        <h6 class="heading7">Latest News</h6>
        <div class="post">
          <p>facebook crack the movie advertisment code:what it means for you <span>August 3,2015</span></p>
          <p>facebook crack the movie advertisment code:what it means for you <span>August 3,2015</span></p>
          <p>facebook crack the movie advertisment code:what it means for you <span>August 3,2015</span></p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 paddingtop-bottom">
        <div class="fb-page" data-href="https://www.facebook.com/horizonseducate/" data-tabs="timeline" data-height="300" data-small-header="false" style="margin-bottom:15px;" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
          <div class="fb-xfbml-parse-ignore">
            <blockquote cite="https://www.facebook.com/horizonseducate/"><a href="https://www.facebook.com/horizonseducate/">Facebook</a></blockquote>
            <blockquote cite="https://twitter.com/horizons_edu"><a href="https://twitter.com/horizons_edu">Twitter</a></blockquote>
            <blockquote cite="https://www.youtube.com/channel/UC6U4KPZ_Ggte5NBa9OuxbwQ"><a href="https://www.youtube.com/channel/UC6U4KPZ_Ggte5NBa9OuxbwQ">Youtube</a></blockquote>
            <blockquote cite="https://www.linkedin.com/company/10289548?trk"><a href="https://www.linkedin.com/company/10289548?trk">Linkedin</a></blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="copyright">
  <div class="container">
    <div class="col-md-6">
      <p><small>© 2017 - All Rights with Horizons as member of MH Group</small></p>
    </div>
    <div class="col-md-6">
      <ul class="bottom_ul">
        <li><a href="#">mh-grup.com</a></li>
        <li><a href="#">About us</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Faq's</a></li>
        <li><a href="#">Contact us</a></li>
        <li><a href="#">Site Map</a></li>
      </ul>
    </div>
  </div>
</div>